<ion-header>
  <ion-toolbar class="bgHeader">
    
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img src="../../assets/LumenTechnologies_b.svg" style="height: 25px;" alt="logo"/>
          </div>
        </ion-col>
        
        <ion-col>
          <div class="w-100 text-right position-relative">
            <ion-icon class="colorWhite" name="notifications"></ion-icon>
            <ion-badge class="headerBadge">6</ion-badge>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="dateTime">
            Monday, 15th 2021, 20:06 
          </div>
        </ion-col>
        
        <ion-col>
          <div class="w-100 text-right position-relative catg_box">
            <ion-item class="iconItem">
              <ion-select class="iconSelecct" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="All Categories">
                <ion-select-option value="red">Report Damage</ion-select-option>
                <ion-select-option value="purple">Report Issue</ion-select-option>
                <ion-select-option value="yellow">Request Seat Change</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs class="footerTabs">
  <ion-tab-bar slot="dashboard">
    <ion-tab-button tab="dashboard">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label class="textTitle">Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-ticket">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label class="textTitle">Create Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="status">
      <ion-icon name="list"></ion-icon>
      <ion-label class="textTitle">Status</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="options"></ion-icon>
      <ion-label class="textTitle">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
