<div class="bg-Screen">
  <div class="loginMain d-flex">
  <div class="loginContent">
  <img src="../../assets/LumenTechnologies_b.svg" alt="logo"/>
  <div class="title">
    Welcome!
  </div>
  <div class="slogan">
    - Lorem ipsum dolor slogan goes here -
  </div>

  <div class="position-relative w-100 mb-3" (click)="redirectToTabs('status', 'myTickets')">
  <ion-button expand="block" color="light" size="large" class="btnWhite">MY TICKETS</ion-button>
  <ion-icon name="arrow-forward-outline" class="adminIcon adminIconArrow"></ion-icon>
  </div>
  <div class="position-relative w-100 mb-3" (click)="redirectToTabs('create-ticket')">
    <ion-button expand="block" color="light" size="large" class="btnWhite">CREATE TICKETS</ion-button>
    <ion-icon name="arrow-forward-outline" class="adminIcon adminIconArrow"></ion-icon>
    </div>
    <div class="position-relative w-100" (click)="redirectToTabs('dashboard')">
      <ion-button expand="block" color="light" size="large" class="btnWhite">DASHBOARD</ion-button>
      <ion-icon name="arrow-forward-outline" class="adminIcon adminIconArrow"></ion-icon>
      </div>
</div>
  </div>
</div>
