<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgContent">
<div class="mainContentWidth">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="facilityTickets">
          <div class="t1 pt-1">
            Tickets Assigned to Me
          </div>
          <div class="t2">
            24
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <div class="commonTickets">
          <div class="t1 pt-1">
            Total Tickets
          </div>
          <div class="t2">
            144
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="commonTickets">
          <div class="t1 pt-1">
            Pending Tickets
          </div>
          <div class="t2 text-pending">
            44
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="commonTickets">
          <div class="t1 pt-1">
            Resolved Tickets
          </div>
          <div class="t2 text-success">
            80
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="commonTickets">
          <div class="t1 pt-1">
            Rejected Tickets
          </div>
          <div class="t2 text-danger">
            20
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ticketGraph mt-3 p-3">
          <div class="t3 pt-1">
            Overall Ticket History
          </div>
          <h2 class="text-center">
            Graph Goes Here
          </h2>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

