<ion-header>
  <ion-toolbar>
    <ion-title>Main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-tabs>
  <ion-tab-bar slot="dashboard">
    <ion-tab-button tab="dashboard">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Dashboard</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="create-ticket">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Create Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="status">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
