.titleLeft{
    font-size: 14px;
    font-weight: normal;
    margin-left: 22px;
}
.c1{
    color: #B8B8B8;
}
.lineDotted{
    height: 100%;
    position: absolute;
    top: 25px;
    color: #c8b8b8;
    left: 8px;
    display: block;
    border: 1px dashed #ccc;
}
.inputText{
    border: 1px solid #C1C0C0;
    border-radius: 3px; 
}
.catg_box{

    ion-item::part(native){
        --background: transparent;
        padding-right: 0px;
        border: 1px solid #C1C0C0;
        border-radius: 3px;
    }
    .item-inner{
        padding-right: 0px;
        border: 0px;
        
    }
}
.iconItem{
    --min-height: 32px;
    ion-select{
        width: 100%;
    }
}
.btnBlue{
    width: 100%;
  }
  .btnBlue::part(native){
  background: #1C3766;
  color: #fff;
  }
.fSettings{
    width: 80%;
    margin: 15px auto 15px auto;
}