<div class="bg-Screen">
  <div class="loginMain d-flex">
  <div class="loginContent">
  <img src="../../assets/LumenTechnologies_b.svg" alt="logo"/>
  <div class="title">
    Welcome!
  </div>
  <div class="slogan">
    - Lorem ipsum dolor slogan goes here -
  </div>
  <div class="position-relative w-100">
  <ion-item>
    <ion-label position="floating">ENTER CUID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-icon name="person-outline" class="adminIcon"></ion-icon>
  <div class="errorMsg">
    CUID Required*
  </div>
</div>
<div class="position-relative w-100">
  <ion-item>
    <ion-label position="floating" >PASSWORD</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <ion-icon name="lock-closed-outline" class="adminIcon"></ion-icon>
  <div class="errorMsg">
    Password Required*
  </div>
</div>
  <!-- <input type="input" placeholder="ENTER CUID" class="fromInput w-100"/>
  <input type="input" placeholder="PASSWORD" class="fromInput w-100"/> -->
  <div class="text-right w-100">
  <a href="javascript: void(0);" class="noAccess">cant access account?</a>
  </div>
  <div class="position-relative w-100">
  <ion-button expand="block" color="light" size="large">Continue</ion-button>
  <ion-icon name="arrow-forward-outline" class="adminIcon adminIconArrow"></ion-icon>
  </div>
</div>
  </div>
</div>
