<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="d-flex alignItems">

        
        <div class="titleLeft ml-3">
            <strong>ServerRoom.jpg</strong>
        </div>
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <div class="d-flex alignItems mr-3">
        <ul class="list-inline m-0">
        <li class="list-inline-item">
           <ion-icon name="download-outline" class="fnt-24"></ion-icon>&nbsp;&nbsp;&nbsp;
        </li>
        <li class="list-inline-item">
           <ion-icon name="close-outline" class="fnt-24" (click)="dismissModal()"></ion-icon>
        </li>
      </ul>
        
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ml-4 mt-4">
    <img src="../logo.jpg"/>
  </div>
</ion-content>
